nextflowVersion = '1.2+' 
process.scratch = true


profiles {
  docker {
    docker {
      enabled = true
    }
  }

  k8s {
    
    process.executor = 'k8s'
    process.scratch = true
    process.cpus = 1
    process.memory = '1 GB'    
    
    k8s {
      debug.yaml = true
      storageClaimName = 'rawsig-claim'
    }
  }
}
